.Badges {

}

.Badges__hero{

}

.Badges__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}

.Badge__container {
  background-color: white;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 2%;
}

.Badges_conf-logo {
  margin-bottom: 2rem;
}

.Badges__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}